.answer-tweet-form{
  padding: 1.5rem 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #ebeef0;
}
.answer-tweet-form label{
  display: flex;
  flex: 1;
  align-items: center;
  gap: 0.75rem;
}
.answer-tweet-form label img{
  width: 3rem;
  height: 3rem;
  border-radius: 999px;
}

.answer-tweet-form label textarea{
  flex:  1;
  border: 0;
  font-weight: 500;
  margin-top: 1.25rem;
  
  resize: none;
}



.answer-tweet-form label textarea:focus{
  outline-color: var(--twitter-blue);
}

.answer-tweet-form label textarea::placeholder{
  color: #5b7083;
}

.answer-tweet-form button[type=submit]{
  margin-left: auto;
  background: var(--twitter-blue);
  border-radius: 999px;
  padding: 0.75rem 1.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
  border: 0; 

}

.new-tweet-form button[type=submit]:hover{
  filter: brightness(0.9);
}

